<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-0">
    <span class="text-muted fw-light">آکادمی تکواندو یاری /</span>
    ثبت هنرجو جدید
  </h4>
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
    <div class="d-flex flex-column justify-content-center">
      <h4 class="mb-1 mt-3">یک هنرجو جدید اضافه کنید</h4>
    </div>
    <!-- <div class="d-flex align-content-center flex-wrap gap-3">
      <button class="btn btn-primary" name="submitButton" type="submit">ارسال</button>
    </div> -->
  </div>
  <form class="row" id="formValidationNewStudent">
    <div class="col-12 col-lg-8">
      <div class="card">
        <h5 class="card-header">اطلاعات شخصی</h5>
        <div class="card-body">
          <!-- Account Details -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="firstName">نام</label>
              <input class="form-control" id="firstName" name="firstName" placeholder="مصطفی" type="text" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="lastName">نام خانوادگی</label>
              <input class="form-control" id="lastName" name="lastName" placeholder="معماری" type="text" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="nationalCode">کدملی</label>
              <input aria-label="" class="form-control" id="nationalCode" name="nationalCode" placeholder="4900782343" type="text" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="bs-datepicker-birthday">تاریخ تولد</label>
              <input class="form-control" id="bs-datepicker-birthday" name="birthDay" placeholder="1378/06/22" type="text" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="fatherName">نام پدر</label>
              <input class="form-control" id="fatherName" name="fatherName" placeholder="علیرضا" type="text" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="d-block form-label">جنسیت</label>
              <div class="d-flex col">
                <div class="row mt-0 col">
                  <div class="col-6">
                    <div class="form-check custom-option">
                      <label class="p-2 d-flex justify-content-center align-items-center form-check-label custom-option-content" for="radio-man">
                        <input checked class="form-check-input" id="radio-man" name="genderss" type="radio" value="مرد" />
                        <span class="custom-option-body">
                          <span class="custom-option-title ms-2">مرد</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check custom-option">
                      <label class="p-2 d-flex justify-content-center align-items-center form-check-label custom-option-content" for="radio-female">
                        <input checked class="form-check-input" id="radio-female" name="genderss" type="radio" value="زن" />
                        <span class="custom-option-body">
                          <span class="custom-option-title ms-2">زن</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="mobile">تلفن همراه</label>
              <input aria-label="" class="form-control" id="mobile" name="mobile" placeholder="09388366510" type="text" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="phone">تلفن داخلی</label>
              <input aria-label="" class="form-control" id="phone" name="phone" placeholder="02165102415" type="text" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="studentProfile">عکس پروفایل</label>
              <input class="form-control" id="studentProfile" name="formValidationFile" type="file" />
            </div>
            <div class="mb-3 col-md-6 ecommerce-select2-dropdown">
              <label class="form-label" for="bs-datepicker-register-date">تاریخ ثبت نام</label>
              <input class="form-control" id="bs-datepicker-register-date" name="registerDate" placeholder="1402/12/20" type="text" />
            </div>
            <div class="col mb-3">
              <div class="form-group">
                <label class="form-label" for="ecommerce-product-name">آدرس</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="address" rows="3"></textarea>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationEmail">ایمیل</label>
            <input class="form-control" id="formValidationEmail" name="formValidationEmail" placeholder="test@email.com" type="email" />
          </div> -->
          <!-- <div class="col-md-6">
            <div class="form-password-toggle">
              <label class="form-label" for="formValidationPass">کلمه عبور</label>
              <div class="input-group input-group-merge">
                <input
                  aria-describedby="multicol-password2"
                  class="form-control"
                  id="formValidationPass"
                  name="formValidationPass"
                  placeholder="············"
                  type="password"
                />
                <span class="input-group-text cursor-pointer" id="multicol-password2">
                  <i class="ti ti-eye-off"></i>
                </span>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-6">
            <div class="form-password-toggle">
              <label class="form-label" for="formValidationConfirmPass">تایید کلمه عبور</label>
              <div class="input-group input-group-merge">
                <input
                  aria-describedby="multicol-confirm-password2"
                  class="form-control"
                  id="formValidationConfirmPass"
                  name="formValidationConfirmPass"
                  placeholder="············"
                  type="password"
                />
                <span class="input-group-text cursor-pointer" id="multicol-confirm-password2">
                  <i class="ti ti-eye-off"></i>
                </span>
              </div>
            </div>
          </div> -->
          <!-- Personal Info -->
          <!-- <div class="col-12">
            <h6 class="mt-2">2. اطلاعات شخصی</h6>
            <hr class="mt-0" />
          </div> -->
          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationFile">عکس پروفایل</label>
            <input class="form-control" id="formValidationFile" name="formValidationFile" type="file" />
          </div> -->
          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationDob">تاریخ تولد</label>
            <input class="form-control flatpickr-validation" id="formValidationDob" name="formValidationDob" required type="text" />
          </div> -->

          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationSelect2">کشور</label>
            <select class="form-select select2" data-allow-clear="true" id="formValidationSelect2" name="formValidationSelect2">
              <option value="">انتخاب کنید</option>
              <option value="Australia">استرالیا</option>
              <option value="Bangladesh">بنگلادش</option>
              <option value="Belarus">بلاروس</option>
              <option value="Brazil">برزیل</option>
              <option value="Canada">کانادا</option>
              <option value="China">چین</option>
              <option value="France">فرانسه</option>
              <option value="Germany">آلمان</option>
              <option value="India">هندوستان</option>
              <option value="Indonesia">اندونزی</option>
              <option value="Israel">اسرائيل</option>
              <option value="Italy">ایتالیا</option>
              <option value="Japan">ژاپن</option>
              <option value="Korea">جمهوری کره</option>
              <option value="Mexico">مکزیک</option>
              <option value="Philippines">فیلیپین</option>
              <option value="Russia">فدراسیون روسیه</option>
              <option value="South Africa">آفریقای جنوبی</option>
              <option value="Thailand">تایلند</option>
              <option value="Turkey">ترکیه</option>
              <option value="Ukraine">اوکراین</option>
              <option value="United Arab Emirates">امارات متحده عربی</option>
              <option value="United Kingdom">انگلستان</option>
              <option value="United States">ایالات متحده</option>
            </select>
          </div> -->

          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationLang">زبان ها</label>
            <input class="form-control" id="formValidationLang" name="formValidationLang" type="text" value="" />
          </div> -->
          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationTech">تخصص و مهارت ها</label>
            <input autocomplete="off" class="form-control typeahead" id="formValidationTech" name="formValidationTech" type="text" />
          </div> -->
          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationHobbies">سرگرمی ها</label>
            <select
              class="selectpicker hobbies-select w-100"
              data-icon-base="ti"
              data-style="btn-default"
              data-tick-icon="ti-check text-white"
              id="formValidationHobbies"
              multiple
              name="formValidationHobbies"
            >
              <option>ورزش</option>
              <option>فیلم</option>
              <option>کتاب</option>
            </select>
          </div> -->
          <!-- <div class="col-md-6">
            <label class="form-label" for="formValidationBio">بیوگرافی</label>
            <textarea class="form-control" id="formValidationBio" name="formValidationBio" rows="3"></textarea>
          </div> -->
          <!-- <div class="col-md-6">
            <label class="form-label">جنسیت</label>
            <div class="form-check custom mb-2">
              <input checked class="form-check-input" id="formValidationGender" name="formValidationGender" type="radio" />
              <label class="form-check-label" for="formValidationGender">مرد</label>
            </div>
            <div class="form-check custom">
              <input class="form-check-input" id="formValidationGender2" name="formValidationGender" type="radio" />
              <label class="form-check-label" for="formValidationGender2">زن</label>
            </div>
          </div> -->
          <!-- Choose Your Plan -->
          <!-- <div class="col-12">
            <h6 class="mt-2">3. انتخاب اشتراک</h6>
            <hr class="mt-0" />
          </div> -->
          <!-- <div class="row gy-3 mt-0">
            <div class="col-xl-3 col-md-5 col-sm-6 col-12">
              <div class="form-check custom-option custom-option-icon">
                <label class="form-check-label custom-option-content" for="basicPlanMain1">
                  <span class="custom-option-body">
                    <i class="ti ti-brand-telegram"></i>
                    <span class="custom-option-title"> ساده</span>
                    <small>لورم ایپسوم متن ساختگی با تولید نامفهوم.</small>
                  </span>
                  <input checked class="form-check-input" id="basicPlanMain1" name="formValidationPlan" type="radio" value="" />
                </label>
              </div>
            </div>
            <div class="col-xl-3 col-md-5 col-sm-6 col-12">
              <div class="form-check custom-option custom-option-icon">
                <label class="form-check-label custom-option-content" for="basicPlanMain2">
                  <span class="custom-option-body">
                    <i class="ti ti-users"></i>
                    <span class="custom-option-title"> پیشرفته</span>
                    <small>لورم ایپسوم متن ساختگی با تولید نامفهوم.</small>
                  </span>
                  <input class="form-check-input" id="basicPlanMain2" name="formValidationPlan" type="radio" value="" />
                </label>
              </div>
            </div>
            <div class="col-xl-3 col-md-5 col-sm-6 col-12">
              <div class="form-check custom-option custom-option-icon">
                <label class="form-check-label custom-option-content" for="basicPlanMain3">
                  <span class="custom-option-body">
                    <i class="ti ti-crown"></i>
                    <span class="custom-option-title"> حرفه‌ایءء</span>
                    <small>لورم ایپسوم متن ساختگی با تولید نامفهوم.</small>
                  </span>
                  <input class="form-check-input" id="basicPlanMain3" name="formValidationPlan" type="radio" value="" />
                </label>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-12">
            <label class="switch switch-primary">
              <input class="switch-input" name="formValidationSwitch" type="checkbox" />
              <span class="switch-toggle-slider">
                <span class="switch-on"></span>
                <span class="switch-off"></span>
              </span>
              <span class="switch-label">دریافت ایمیل و پیشنهادات</span>
            </label>
          </div> -->
          <div class="col-12">
            <button class="btn btn-primary" name="submitButton" type="submit">ثبت هنرجو</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title mb-0">اطلاعات باشگاه</h5>
        </div>
        <div class="card-body">
          <!-- Vendor -->
          <div class="mb-3 col-12">
            <label class="form-label" for="club">انتخاب باشگاه</label>
            <select class="form-select select2" data-allow-clear="true" id="club" name="club">
              <option value="">باشگاه را انتخاب کنید</option>
              <option value="Australia">آکادمی تکواندو یاری</option>
            </select>
          </div>

          <div class="mb-3 col ecommerce-select2-dropdown">
            <label class="form-label mb-1" for="coach">انتخاب مربی</label>
            <select class="form-select select2" name="coach" data-allow-clear="true" data-placeholder="انتخاب مربی" id="coach">
              <option value="">مربی را انتخاب کنید</option>
              <option value="men-clothing">محمدرضا یاری</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title mb-0">اطلاعات کمربند</h5>
        </div>
        <div class="card-body">
          <!-- Vendor -->
          <div class="mb-3 col ecommerce-select2-dropdown">
            <label class="form-label mb-1" for="belt">کمربند فعلی</label>
            <select class="select2 form-select" name="belt" data-allow-clear="true" data-placeholder="انتخاب کمربند" id="belt">
              <option value="">.کمربند را انتخاب کنید</option>
              <option value="men-clothing">سفید</option>
              <option value="women-clothing">زرد</option>
              <option value="kid-clothing">سبز</option>
              <option value="kid-clothing">آبی</option>
              <option value="kid-clothing">قرمز</option>
              <option value="kid-clothing">پوم 1</option>
              <option value="kid-clothing">دان 1</option>
              <option value="kid-clothing">پوم 2</option>
              <option value="kid-clothing">دان 2</option>
              <option value="kid-clothing">پوم 3</option>
              <option value="kid-clothing">دان 3</option>
              <option value="kid-clothing">پوم 4</option>
              <option value="kid-clothing">دان 4</option>
            </select>
          </div>

          <div class="co mb-3">
            <label class="form-label" for="bs-datepicker-belt-date">تاریخ کمربند</label>
            <input class="form-control" id="bs-datepicker-belt-date" placeholder="1400/02/06" type="text" />
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title mb-0">اطلاعات بیشتر</h5>
        </div>
        <div class="card-body">
          <!-- Vendor -->
          <div class="mb-3 col ecommerce-select2-dropdown">
            <label class="form-label" for="bs-datepicker-sportsInsurance-date">تاریخ بیمه ورزشی</label>
            <input class="form-control" id="bs-datepicker-sportsInsurance-date" placeholder="1400/05/06" type="text" />
          </div>

          <div class="col mb-3">
            <label class="form-label" for="memberShipValidity">شارژ بانک اطلاعاتی</label>
            <input aria-label="" class="form-control" id="memberShipValidity" name="memberShipValidity" placeholder="1402" type="text" />
          </div>
        </div>
      </div>
      <!-- /Organize Card -->
    </div>
  </form>
</div>
