<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
      <span class="text-muted fw-light">طراحی سفارشی /</span>
      کشیدن و رها کردن
    </h4>
    <!-- Cards Draggable -->
    <div class="row mb-4">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card mb-lg-0 mb-4">
          <div class="card-body text-center">
            <h2>
              <i class="ti ti-home text-success display-6"></i>
            </h2>
            <h4>باشگاه ها</h4>
            <h5>3</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card mb-lg-0 mb-4">
          <div class="card-body text-center">
            <h2>
              <i class="ti ti-user text-info display-6"></i>
            </h2>
            <h4>مربیان</h4>
            <h5>2</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card mb-lg-0 mb-4">
          <div class="card-body text-center">
            <h2>
              <i class="ti ti-users text-primary display-6"></i>
            </h2>
            <h4>هنرجو ها</h4>
            <h5>1052</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card mb-lg-0 mb-4">
          <div class="card-body text-center">
            <h2>
              <i class="ti ti-clock-hour-1 text-danger display-6"></i>
            </h2>
            <h4>سانس ها</h4>
            <h5>2</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar pills -->
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-sm-row mb-4">
          <li class="nav-item">
            <button
              aria-controls="show-clubs"
              aria-selected="true"
              class="nav-link active"
              data-bs-target="#show-clubs"
              data-bs-toggle="tab"
              role="tab"
              type="button"
            >
              <i class="ti ti-user-check ti-xs me-1"></i>

              باشگاه ها
            </button>
          </li>
          <li class="nav-item">
            <button
              aria-controls="show-coachs"
              aria-selected="false"
              class="nav-link"
              data-bs-target="#show-coachs"
              data-bs-toggle="tab"
              role="tab"
              type="button"
            >
              <i class="ti ti-users ti-xs me-1"></i>

              مربیان
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!--/ Navbar pills -->
    <!-- Connection Cards -->
    <div class="tab-content px-2 mx-1 pb-0">
      <div class="tab-pane fade" id="show-coachs" role="tabpanel">
        <div class="row g-4">
          <!-- <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body text-center">
                <div class="dropdown btn-pinned">
                  <button aria-expanded="false" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" type="button">
                    <i class="ti ti-dots-vertical text-muted"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">دنبال نکردن</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">مسدود کردن</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item text-danger" href="javascript:void(0);">حذف</a>
                    </li>
                  </ul>
                </div>
                <div class="mx-auto my-3">
                  <img alt="تصویر آواتار" class="rounded-circle w-px-100" src="../../assets/img/avatars/6.png" />
                </div>
                <h4 class="mb-1 card-title">مریم خانم</h4>

                <div class="d-flex align-items-center justify-content-around my-3 py-1">
                  <div>
                    <h4 class="mb-0">2</h4>
                    <span>باشگاه</span>
                  </div>
                  <div>
                    <h4 class="mb-0">2500</h4>
                    <span>شاگرد</span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body text-center">
                <div class="dropdown btn-pinned">
                  <button aria-expanded="false" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" type="button">
                    <i class="ti ti-dots-vertical text-muted"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">دنبال نکردن</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">مسدود کردن</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item text-danger" href="javascript:void(0);">حذف</a>
                    </li>
                  </ul>
                </div>
                <div class="mx-auto my-3">
                  <img alt="تصویر آواتار" class="rounded-circle w-px-100" src="../../assets/img/avatars/3.png" />
                </div>
                <h4 class="mb-1 card-title">مصطفی معماری</h4>

                <div class="d-flex align-items-center justify-content-around my-3 py-1">
                  <div>
                    <h4 class="mb-0">2</h4>
                    <span>باشگاه</span>
                  </div>
                  <div>
                    <h4 class="mb-0">1200</h4>
                    <span>شاگرد</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body text-center">
                <div class="dropdown btn-pinned">
                  <button aria-expanded="false" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" type="button">
                    <i class="ti ti-dots-vertical text-muted"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">دنبال نکردن</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">مسدود کردن</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item text-danger" href="javascript:void(0);">حذف</a>
                    </li>
                  </ul>
                </div>
                <div class="mx-auto my-3">
                  <img alt="تصویر آواتار" class="rounded-circle w-px-100" src="../../assets/img/avatars/3.png" />
                </div>
                <h4 class="mb-1 card-title">مصطفی معماری</h4>

                <div class="d-flex align-items-center justify-content-around my-3 py-1">
                  <div>
                    <h4 class="mb-0">2</h4>
                    <span>باشگاه</span>
                  </div>
                  <div>
                    <h4 class="mb-0">1200</h4>
                    <span>شاگرد</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body text-center">
                <div class="dropdown btn-pinned">
                  <button aria-expanded="false" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" type="button">
                    <i class="ti ti-dots-vertical text-muted"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">دنبال نکردن</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">مسدود کردن</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item text-danger" href="javascript:void(0);">حذف</a>
                    </li>
                  </ul>
                </div>
                <div class="mx-auto my-3">
                  <img alt="تصویر آواتار" class="rounded-circle w-px-100" src="../../assets/img/avatars/3.png" />
                </div>
                <h4 class="mb-1 card-title">مصطفی معماری</h4>

                <div class="d-flex align-items-center justify-content-around my-3 py-1">
                  <div>
                    <h4 class="mb-0">2</h4>
                    <span>باشگاه</span>
                  </div>
                  <div>
                    <h4 class="mb-0">1200</h4>
                    <span>شاگرد</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary mt-3" data-bs-target="#editUser" data-bs-toggle="modal" href="javascript:">ثبت مربی جدید</a>
        </div>
      </div>
      <div class="tab-pane fade show active" id="show-clubs" role="tabpanel">
        <div class="row g-4">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <a href="javascript:;" class="d-flex align-items-center">
                    <div class="me-2 text-body h5 mb-0">آکادمی تکواندو یاری</div>
                  </a>
                </div>
                <p class="mb-3">آدرس : مارلیک ، بلوار هفت تیر</p>

                <div class="d-flex align-items-center justify-content-around my-3 py-1 text-center">
                  <div class="dropdown btn-pinned">
                    <button aria-expanded="false" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" type="button">
                      <i class="ti ti-dots-vertical text-muted"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">دنبال نکردن</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">مسدود کردن</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item text-danger" href="javascript:void(0);">حذف</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4 class="mb-0">2</h4>
                    <span>مربی</span>
                  </div>
                  <div>
                    <h4 class="mb-0">3</h4>
                    <span>سانس</span>
                  </div>
                  <div>
                    <h4 class="mb-0">2500</h4>
                    <span>شاگرد</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-1">
                  <div class="">
                    <a href="javascript:;" class=""
                      ><span class="badge bg-label-primary"><i class="ti ti-woman text-primary display-10"></i> آقایان</span></a
                    >
                    <a href="javascript:;" class="me-2"
                      ><span class="badge bg-label-primary"><i class="ti ti-man text-primary display-10"></i> بانوان</span></a
                    >
                  </div>

                  <div class="">
                    <a href="javascript:;"
                      ><span class="badge bg-label-warning"><i class="ti ti-karate text-warning display-10"></i> تکواندو</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <a href="javascript:;" class="d-flex align-items-center">
                    <div class="me-2 text-body h5 mb-0">آکادمی تکواندو یاری</div>
                  </a>
                </div>
                <p class="mb-3">آدرس : مارلیک ، بلوار هفت تیر</p>

                <div class="d-flex align-items-center justify-content-around my-3 py-1 text-center">
                  <div class="dropdown btn-pinned">
                    <button aria-expanded="false" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" type="button">
                      <i class="ti ti-dots-vertical text-muted"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">دنبال نکردن</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">مسدود کردن</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item text-danger" href="javascript:void(0);">حذف</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4 class="mb-0">2</h4>
                    <span>مربی</span>
                  </div>
                  <div>
                    <h4 class="mb-0">3</h4>
                    <span>سانس</span>
                  </div>
                  <div>
                    <h4 class="mb-0">2500</h4>
                    <span>شاگرد</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-1">
                  <div class="">
                    <a href="javascript:;" class=""
                      ><span class="badge bg-label-primary"><i class="ti ti-woman text-primary display-10"></i> آقایان</span></a
                    >
                    <a href="javascript:;" class="me-2"
                      ><span class="badge bg-label-primary"><i class="ti ti-man text-primary display-10"></i> بانوان</span></a
                    >
                  </div>

                  <div class="">
                    <a href="javascript:;"
                      ><span class="badge bg-label-warning"><i class="ti ti-karate text-warning display-10"></i> تکواندو</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <a href="javascript:;" class="d-flex align-items-center">
                    <div class="me-2 text-body h5 mb-0">آکادمی تکواندو یاری</div>
                  </a>
                </div>
                <p class="mb-3">آدرس : مارلیک ، بلوار هفت تیر</p>

                <div class="d-flex align-items-center justify-content-around my-3 py-1 text-center">
                  <div class="dropdown btn-pinned">
                    <button aria-expanded="false" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" type="button">
                      <i class="ti ti-dots-vertical text-muted"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">دنبال نکردن</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">مسدود کردن</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item text-danger" href="javascript:void(0);">حذف</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4 class="mb-0">2</h4>
                    <span>مربی</span>
                  </div>
                  <div>
                    <h4 class="mb-0">3</h4>
                    <span>سانس</span>
                  </div>
                  <div>
                    <h4 class="mb-0">2500</h4>
                    <span>شاگرد</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-1">
                  <div class="">
                    <a href="javascript:;" class=""
                      ><span class="badge bg-label-primary"><i class="ti ti-woman text-primary display-10"></i> آقایان</span></a
                    >
                    <a href="javascript:;" class="me-2"
                      ><span class="badge bg-label-primary"><i class="ti ti-man text-primary display-10"></i> بانوان</span></a
                    >
                  </div>

                  <div class="">
                    <a href="javascript:;"
                      ><span class="badge bg-label-warning"><i class="ti ti-karate text-warning display-10"></i> تکواندو</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary mt-3" data-bs-target="#createClub" data-bs-toggle="modal" href="javascript:">ثبت باشگاه جدید</a>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <!-- Modal -->
  <!-- Edit User Modal -->
  <div aria-hidden="true" class="modal fade" id="createClub" tabindex="-1">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">ثبت باشگاه جدید</h3>
          </div>
          <form class="row g-3" id="createClubForm" onsubmit="return false">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label" for="nameClub">نام باشگاه</label>
                <input class="form-control" id="nameClub" name="name" placeholder="آکادمی تکواندو یاری" type="text" />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="select2Dark">جنسیت</label>
                <div class="select2Dark">
                  <select class="select2 form-select" id="select2Dark" name="genders" multiple>
                    <option value="مرد">مرد</option>
                    <option value="زن">زن</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="select2">رشته ورزشی</label>
                <div class="select2">
                  <select class="select2 form-select" id="select2" name="sports" multiple>
                    <option value="taekwondo">تکواندو</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label" for="phone">تلفن داخلی</label>
                <input maxlength="12" class="form-control ltr" id="phone" name="phone" placeholder="02165102415" type="text" />
              </div>

              <div class="col mb-3">
                <div class="form-group">
                  <label class="form-label" for="ecommerce-product-name">آدرس</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" name="address" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="col-12 text-center">
              <button class="btn btn-primary me-sm-3 me-1" type="submit">ارسال</button>
              <button aria-label="بستن" class="btn btn-label-secondary" data-bs-dismiss="modal" type="reset">لغو</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Edit User Modal -->
</div>
