<!DOCTYPE html>
<html
  class="light-style layout-wide customizer-hide"
  data-assets-path="/assets/"
  data-template="vertical-menu-template"
  data-theme="theme-default"
  dir="rtl"
  lang="fa"
>
  <%- include ('../auth/partials/_head.ejs') %>

  <body>
    <!-- Content -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Login -->
          <%-body%>
          <!-- /login -->
        </div>
      </div>
    </div>
    <!-- / Content -->

    <%- include ('../auth/partials/_scripts.ejs') %>
  </body>
</html>
